.popup
    width: 100%
    height: 100%
    transition: all .3s ease 0s
    background-color: $color-5
    padding: unset
    &__container
        display: flex
        align-items: center
        justify-content: center
        width: 100%
        height: 100%
    &__wrapper
        position: relative
        background-color: $color-3
        padding: rem-calc(30 40)
        width: 100%
        max-width: rem-calc(500)
        margin: rem-calc(0 10)
        @include respond(small)
            padding: rem-calc(30 20)
    &__close
        display: inline-block
        position: absolute
        top: rem-calc(10)
        right: rem-calc(15)
        color: $color-2
        font-size: rem-calc(36)
        font-weight: bold
        cursor: pointer
        transition: all .3s ease 0s
        @include respond(small)
            top: rem-calc(5)
            right: rem-calc(10)
        &:hover,
        &:focus
            color: $color-4
            text-decoration: none
            cursor: pointer
    &__title
        font-size: rem-calc(28)
        font-weight: 700
        line-height: 1.5
        color: $color-2
        text-transform: uppercase
    &__info
        font-size: rem-calc(22)
        font-weight: 400
        line-height: 1.5
        color: $color-2
        margin-top: rem-calc(10)
    &__form
        .form
            margin-top: rem-calc(20)
            display: flex
            flex-direction: column
            &__input
                background-color: $color-4
                color: $color-2
                border: rem-calc(1) solid $color-2
                &::placeholder
                    color: $color-2
            &__btn
                width: 100%
        .btn__wrap
            font-size: rem-calc(22)
            width: 100%
            padding: rem-calc(8 20)
            background-color: $color-2
            color: $color-4
            &:hover
                background-color: $color-4
                color: $color-2
    .fancybox-button.fancybox-close-small 
        display: none !important
